In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

import seaborn as sns
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

In [53]:
#Run SVM algorithm on that data
titanic_df = pd.read_csv('titanic.csv')

titanic_df = titanic_df.dropna(axis=1)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Embarked
0,892,0,3,"Kelly, Mr. James",male,0,0,330911,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,0,0,240276,Q
3,895,0,3,"Wirz, Mr. Albert",male,0,0,315154,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1,1,3101298,S

In [54]:
print("Data types after encoding:\n", titanic_df.dtypes)

Data types after encoding:
 PassengerId     int64
Survived        int64
Pclass          int64
Name           object
Sex            object
SibSp           int64
Parch           int64
Ticket         object
Embarked       object
dtype: object

In [55]:
# Define features (X) and target (y)
X = titanic_df.drop('Survived', axis=1)
y = titanic_df['Survived']

In [56]:
x = titanic_df.iloc[:,2 :-1]
y = titanic_df.iloc[:, [0, 1, -1]]
y

     PassengerId  Survived Embarked
0            892         0        Q
1            893         1        S
2            894         0        Q
3            895         0        S
4            896         1        S
..           ...       ...      ...
413         1305         0        S
414         1306         1        C
415         1307         0        S
416         1308         0        S
417         1309         0        C

[418 rows x 3 columns]

In [57]:
x

,Pclass,Name,Sex,SibSp,Parch,Ticket
0,3,"Kelly, Mr. James",male,0,0,330911
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272
2,2,"Myles, Mr. Thomas Francis",male,0,0,240276
3,3,"Wirz, Mr. Albert",male,0,0,315154
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1,1,3101298
...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,0,0,A.5. 3236
414,1,"Oliva y Ocana, Dona. Fermina",female,0,0,PC 17758
415,3,"Saether, Mr. Simon Sivertsen",male,0,0,SOTON/O.Q. 3101262
416,3,"Ware, Mr. Frederick",male,0,0,359309
417,3,"Peter, Master. Michael J",male,1,1,2668

In [58]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size = 0.2, shuffle = True, random_state = 0)

In [59]:
# Fill and encode categorical columns
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)
titanic_df['Sex'] = titanic_df['Sex'].map({'male': 0, 'female': 1})
titanic_df['Embarked'] = titanic_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [60]:
#List 2 interesting use cases for applying SVM algorithm for real world

In [61]:
#Train models with and without standard scaler. Study what is the effect if any

In [62]:
# NOT WORKING
scaler = StandardScaler()
scaler.fit(x_train)

x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

ValueError: could not convert string to float: 'Rothschild, Mr. Martin'

In [ ]:
# This cell is just that we can use same pair plot as before on our file without scaling
# NOT WORKING
x_scaled = scaler.transform(x)
titanic_df_scaled = pd.DataFrame(x_scaled)
titanic_df_scaled["target"] = y
titanic_df_scaled.columns = titanic_df.columns
titanic_df_scaled

In [ ]:
# NOT WORKING
model=SVC(kernel="linear")
model.fit(x_train_scaled, y_train)

In [ ]:
# NOT WORKING
x_test_scaled = scaler.transform(x_test)

pred=model.predict(x_test_scaled)

In [ ]:
#confusion matrix
# NOT WORKING
print(confusion_matrix(y_test,pred))

In [ ]:
# NOT WORKING
print(classification_report(y_test, pred))

In [ ]:
#Compare SVM results with kNN results